@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to w-list!</h1>
    <h2>A new social platform centered around the development of communication</h2>
</div>
