@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>We do not sell or share any personal data</p>
<p>This includes your real name, phone number, and email address</address></p>
