@{
    ViewData["Title"] = ViewData["Forum"];
}
<h1>Welcome to the @ViewData["Forum"] at w-list!</h1>
<h2>The allowed words for @ViewData["Forum"] are:</h2>
<ul>
    <li>Apple</li>
    <li>Bear</li>
    <li>Orange</li>
    <li>Penguin</li>
    <li>Exotic</li>
    <li>Kazoo</li>
    <li>Tiger</li>
    <li>Joe</li>
</ul>